{% extends 'menu-vertical-parametres.html.twig' %}

{% block title %}Catégories{% endblock %}

{% block mbody %}
    <div class="row mx-2">
        <h2 class="my-3">Catégories</h2>
    </div>
    {% if depots == 0 %}
    
        <div class="row justify-content-center">
            <h2 class="my-3">Vous devez ajouter au moins un dépôt</h2>
        </div>

    {% else %}
        <div class="row justify-content-end mx-2 my-3">
            <a href="{{path('addCategory')}}">
                <button class="btn btn-primary my-2" type="button">
                    Ajouter une Catégorie
                </button>
            </a>
        </div>
    <div class="col-12 py-3 px-2">
        {{ form_start(formName) }}
            <div class="d-lg-flex">
                <div class="w-100">{{ form_widget(formName.word) }}</div>
            </div>
        {{ form_end(formName) }}
    </div>
    <div class="row mx-2 border-bottom border-dark">
        <div class="col-10">
            <h4>Catégorie</h4>
        </div>
        <div class="col-2">
            <h4>#</h4>
        </div>
    </div>
    {% for category in categorys %}
    <div class="row mx-2 py-2 border-bottom">
        <div class="col-10 align-self-center">
            <span class="">{{category.categoryname}}</span>
        </div>

        <div class="col-2 align-self-center">
            <a href="{{ path('editCategory',{'slug': category.slug}) }}">
                <button class="btn pr-0 btnmdsup"><i class="fas fa-edit"></i></button>
            </a>
            <a href="{{ path('removeCategory',{'slug': category.slug}) }}"
                onclick="return confirm ('voulez vous vraiment supprimer la catégorie {{category.categoryname}} ? \ntous les produits inclus dans ce dépôt seront aussi supprimé')">
                <button class="btn pr-0 btnmdsup delete"><i class="far fa-trash-alt"></i></button>
            </a>
        </div>
    </div>
    {% endfor %}
    {% endif %}
{% endblock %}
