<div class="border shadow-sm">
    <div class="container-fluid">
        <nav class="navbar navbar-expand-lg navbar-light px-0">
            <a class="navbar-brand mr-auto" href="{{path('home')}}"><img src="/images/logo.png" alt="logo" width="150"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{{path('home')}}">Dépôts <span class="sr-only">(current)</span></a>
                    </li>
                    {% if is_granted('ROLE_MANAGER') %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{path('mouvement')}}">E/S <span class="sr-only">(current)</span></a>
                    </li>
                    {% endif %}
                    <li class="nav-item">
                        <a class="nav-link" href="#">Inventaire <span class="sr-only">(current)</span></a>
                    </li>
                    {% if is_granted('ROLE_ADMIN') %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{path('parametres')}}">Paramètres <span class="sr-only">(current)</span></a>
                    </li>
                    {% endif %}
                    {% if app.user %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {{app.user.pseudo}}
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="{{path('logout')}}"><i class="fas fa-sign-out-alt"></i> <span style="font-size: 15px;">Déconnexion</span> <span class="sr-only">(current)</span></a>
                        </div>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </nav>
    </div>
</div>